export APP_ENV=dev
export EXTERN_PATH="/path/to/somewhere/on/the/server/"
export PROJECT_RESOURCES_PATH="/path/to/your/main/resources/"
export DATABASE_URI="mysql://database"
export DATABASE_USER="user"
export DATABASE_PASSWORD="passsword"

