[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask="*"
Flask-Login="*"
Flask-Migrate="*"
Flask-SQLAlchemy="*"
requests="*"
python-dotenv="*"
flask-expects-json="*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
