@font-face {
    font-family: "Inter";
    src: url(/static/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/static/fonts/l1_par-reg-5_std_ws_z01-a716f8ca.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/static/fonts/l1_par-bolit-5_std_ws_z01-97b6f51d.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/static/fonts/l1_par-ita-5_std_ws_z01-cc3d2c5f.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/static/fonts/l1_par-bol-5_std_ws_z01-2d811af6.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
    --color-bg: #121730;
    --color-bg-light: #2e3a80;
    --color-title: #7b7afc;
    --color-title-dark: #5b5bbc;
    --color-title-shadow-75: #a5a5fcbf;
    --color-title-shadow-50: #a5a5fc80;
    --color-foot-shadow-75: #eeeeeebf;
    --color-text: #303030;
    --color-white: #eeeeee;
    --color-red: #e81d2b;

    --content-max: 850px;
    --content-max-half: 425px;
    --front-page-max: 500px;

    --footer-min-height: 75px;
    --footer-max-height: 100px;

    /* font-size: front page */
    --font-size-front-big-small: 3.350rem;
    --font-size-front-big-std: 5.315rem;

    --font-size-front-sub-small: 1.300rem;
    --font-size-front-sub-std: 1.565rem;

    /* font-size: navigation bar */
    --font-size-nav-small: 1.000rem;
    --font-size-nav-std:   1.125rem;

    /* font-size: common pages */
    --font-size-page-title-big-small: 2.850rem;
    --font-size-page-title-big-std:   4.380rem;

    --font-size-page-title-sub-small: 1.300rem;
    --font-size-page-title-sub-std:   1.565rem;

    --font-size-page-small: 1.000rem;
    --font-size-page-std:   1.125rem;
    --font-size-page-big:   1.300rem;
    
    --font-size-page-h1-small: 1.750rem;
    --font-size-page-h1-std:   2.065rem;

    --font-size-page-h2-small: 1.440rem;
    --font-size-page-h2-std:   1.750rem;

    /* font-size: footer */
    --font-size-footer-std: 0.935rem;
}

body {
    font-family: "Inter";
    background-color: var(--color-bg);
    margin: 0px;
}

.page {
    display: flex;
    flex-flow: column;
    position: relative;
    min-height: 100dvh;
}

.buffer {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    min-height: var(--footer-min-height);
    max-height: var(--footer-max-height);
}

.front-page {
    display: flex;
    margin: 0px;
    padding: 10px;
    width: calc(100% - 10px - 10px);
    
    align-items: center;
    justify-content: center;
    flex: 1;
}

.front-page-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: var(--color-title);

}

.front-page-title .page-title {
    display: flex;
    width: 100%;
    justify-content: center;

    font-family: "l1_par-5_std_ws_z01", "Inter", sans-serif;
    
    h1 { margin: 10px 0px; }
}

.front-page-title .pages-links {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;

    h2 { 
        word-spacing: 0.25em; 
        margin: 10px 0px; 
    }

    a { 
        font-family: "Inter", sans-serif;
        color: var(--color-title);
        text-shadow: none;

        transition: text-shadow 0.2s;
    }

    a:hover {
        text-shadow: 0px 0px 10px var(--color-title-shadow-50);
    }
}


/* Standard page headers and title */
.navigation {
    display: block;
    padding: 0px;
}

.navigation .navigation-opt {
    display: inline-block;
    margin: 0em 0.18em 0em;
    padding: 0px;
    font-size: var(--font-size-nav-std);
    color: var(--color-title);

    a { 
        color: var(--color-title); 
        text-shadow: none;

        transition: text-shadow 0.2s;
    }

    a:hover {
        text-shadow: 0px 0px 5px var(--color-title-shadow-75);
    }
}

.content-wrap {
    margin: 0 auto auto auto;
}

.main-title {
    display: block;
    padding: 0px 30px 0px;
    margin: 30px 0px 27px;
    max-width: 100%;
    text-align: left;
    color: var(--color-title);

    font-family: "l1_par-5_std_ws_z01", "Inter", sans-serif;
}

.main-title h1 {
    padding: 0px;
    margin: 10px 0px 10px;
}

.main-title h2 {
    padding: 0px;
    margin: 10px 0px 10px;
}

/* Standard text page */
.content {
    margin: 0px;
    padding: 30px;
    max-width: 100%;
    background-color: var(--color-white);
}

.transparent-content {
    margin: 0px;
    padding: 30px;
    max-width: 100%;
}

.text {
    text-align: left;
    line-height: 1.6;
}

.content .text {
    color: var(--color-text);
}

.transparent-content .text {
    color: var(--color-title);
}

.text h1 {
    margin-top: 0px;
}

.text h1:after {
    content: "";
    display: block;
    border: 1px solid;
}


.text ul {
    list-style-type: "⬦ ";
}

.text input {
    padding: 4px 3px;
    background-color: var(--color-white);
}

.text input:focus {
    outline: 1px solid var(--color-title);
    border-radius: 1px;
}

.text .textbox {
    input {
        margin: 5px 0;
    }
}

.text .big-textbox {
    input {
        margin: 10px 0;
    }
}

.text textarea {
    background-color: var(--color-white);
    resize: none;
    padding: 4px 3px;
}

.text textarea:focus {
    outline: 1px solid var(--color-title);
    border-radius: 1px;
}

.text .readonly-text {
    background-color: var(--color-white);
    resize: none;
    cursor: text;
    caret-color: transparent;
    outline: none;
}

.text input[type="button"], input[type="reset"], input[type="submit"] {
    margin: 4px 3px;
    padding: 7px;
    border-radius: 4px;
    background-color: var(--color-title);
    border: none;
    color: white;
    cursor: pointer;

    transition-duration: 0.3s;
}

.text input[type="button"]:hover,
      input[type="reset"]:hover,
      input[type="submit"]:hover {
    background-color: var(--color-title-dark);
}

.text select {
    min-width: 200px;
}

.text .selectbox {
    background-color: var(--color-white);
}

.dynamic-form-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;

    input {
        display: inline-flex;
    }

    input[type="button"] {
        height: 29px;
        padding: 4px 5px;
        margin: 5px 0;
    }
}

.overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: calc(100dvw - 30px - 30px);
    height: calc(100dvh - 30px - 30px);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(2px);
}

.close {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.close svg {
    display: block;
    width: 22px;
    height: 22px;
    pointer-events: none;

    path { fill: var(--color-white); }
}

.close:hover {
    background-color: var(--color-red); ;
}

.centerbox-column {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.centerbox-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* 3 column photo grid */
.photo-grid {
    margin: auto;
    max-width: var(--content-max);
    padding: 0px 30px 0px;

    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.photo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 260px;
}

.photo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;

    img { 
        box-shadow: none;
        transition: text-shadow 0.2s;
    };

    img:hover {
        box-shadow: 0px 0px 3px 2px var(--color-title);
    }
}

.overlay .photo-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 15px;
    max-width: calc(var(--content-max) - 15px - 15px);
    max-height: calc(100% - 30px);
    background-color: var(--color-bg);
    border: 2px solid var(--color-title);
    border-radius: 8px;
    transition: opacity 0.3s;
    box-shadow: 2px 2px 6px 2px black;
}

.photo-box .photo-box-header {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 32px;
    justify-content: right;
}

.photo-box .photo-box-content {
    display: flex;
    align-items: center;
    padding: 15px 5px 5px;

    max-width: calc(100% - 10px);
    max-height: calc(100% - 30px - 32px - 20px);

}

.photo-box-content img { 
    display: block;
    max-width: 100%;
    /* Needs a discrete value to work, so calculate the max-height all the way down from overlay */
    max-height: calc(100dvh - 30px - 30px - 30px - 30px - 32px - 25px);
    width: auto;
    height: auto;
    object-fit: contain;
}

@media only screen and (min-width: 320px) {
    .photo-grid { grid-template-columns: 1fr; }

    .front-page-title .page-title {
        h1 { font-size: calc((1.123 * 10vw) + 17.669px); }
    }

    .front-page-title .pages-links {
        h2 { font-size: calc((1.514 * 1vw) + 16px); }
    }

    .navigation { margin: 10px 30px; }

    .navigation .navigation-opt { font-size: var(--font-size-nav-small); }

    .content-wrap { max-width: 100%; width: 100%; }

    .text p { font-size: var(--font-size-page-small); }
    .text h1 { font-size: var(--font-size-page-h1-small); }
    .text h2 { font-size: var(--font-size-page-h2-small); }

    .text textarea { width: 50vw; }
    .text select { max-width: 50vw; }

    .content { border-radius: 0px; }
    .transparent-content { border-radius: 0px; }

    .textbox label { font-size: var(--font-size-page-small); }
    .textbox input { min-width: 50vw; }

    .big-textbox label { font-size: var(--font-size-page-std); }
    .big-textbox input { min-width: 50vw; }

    .readonly-text { width: 50vw; }
    .selectbox { width: 50vw; }

    .dynamic-form-row { width: 50vw; }

    .main-title {
        h1 { font-size: var(--font-size-page-title-big-small); }
        h2 { font-size: var(--font-size-page-title-sub-small); }
    }
}

@media only screen and (min-width: 600px) {
    .front-page-title .page-title {
        h1 { font-size: var(--font-size-front-big-std); }
    }

    .front-page-title .pages-links {
        h2 { font-size: var(--font-size-front-sub-std); }
    }

    .navigation .navigation-opt { font-size: var(--font-size-nav-std); }
}

@media only screen and (min-width: 625px) {
    .photo-grid { grid-template-columns: 260px 260px; }
}

@media only screen and (min-width: 850px) {
    .photo-grid {
        grid-template-columns: 260px 260px 260px;
    }

    .navigation { margin: 10px; }

    .content-wrap { max-width: var(--content-max); }

    .content { border-radius: 10px; }
    .transparent-content { border-radius: 10px; }

    .text p { font-size: var(--font-size-page-std); }
    .text h1 { font-size: var(--font-size-page-h1-std); }
    .text h2 { font-size: var(--font-size-page-h2-std); }

    .text textarea { width: var(--content-max-half); }
    .text select { max-width: var(--content-max); }

    .textbox label { font-size: var(--font-size-page-std); }
    .textbox input { min-width: var(--content-max-half); }

    .big-textbox label { font-size: var(--font-size-page-big); }
    .big-textbox input { min-width: var(--content-max-half); }

    .readonly-text { width: var(--content-max-half); }
    .selectbox { width: var(--content-max-half); }

    .dynamic-form-row { width: var(--content-max-half); }

    .main-title {
        h1 { font-size: var(--font-size-page-title-big-std); }
        h2 { font-size: var(--font-size-page-title-sub-std); }
    }
}

/* Social media links */
.main-footer {
    display: flex;
    flex: 1;

    width: 100%;
    height: auto;
    max-width: 100%;

    min-height: var(--footer-min-height);
    max-height: var(--footer-max-height);
}

.main-footer .sock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 15px;

    height: auto;
    width: calc(100% - 15px - 15px);
}

.sock .foot {
    display: inline-flex;
    align-items: center;
    margin: 0px 15px 0px;
    padding: 0px;
    max-height: 25px;
}

.foot .footer-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px 5px 0px;
    height: 25px;
    width: 25px;
}

.footer-icon img {
    width: 22px;
}

.footer-icon svg {
    height: 22px;    
}

.foot .footer-link {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding: 0px;
    margin: 0px 5px 0px;
    height: 25px;
    font-size: 15px;
    color: var(--color-white);

    a { 
        color: var(--color-white);
        text-shadow: none;

        transition: text-shadow 0.2s;
    };

    a:hover {
        text-shadow: 0px 0px 5px var(--color-foot-shadow-75);
    }
}