<!-- The source for this website can be found here https://github.com/kueller/glitch.paris -->
<!DOCTYPE html>
<html xmlns:th="https;//thymeleaf.org">
    <head>
        <title>glitch</title>
        <meta th:replace="fragments/meta :: meta (title='glitch', description='sans conséquence', url='/', image='/static/img/meta.jpg')">
        <link rel="stylesheet" type="text/css" th:href="@{ (${model.useMins} ? '~/static/style/glitch.min.css' : '~/static/style/glitch.css') }"/>
    </head>

    <body>
        <div class="page">

            <div class="buffer"></div>
        
            <div class="front-page">
                <div class="front-page-title">
                    <div class="page-title">
                        <h1>glitch.paris</h1>
                    </div>
                    <div class="pages-links">
                        <h2>
                            <th:block th:each="page : ${model.topLevelPages}">
                                <a th:if="${page.pageName} != ${model.name}" th:href="${page.pagePath}" th:text="${page.pageName}"></a>
                            </th:block>
                        </h2>
                    </div>
                </div>
            </div>
        
            <footer th:replace="~{fragments/footer :: footer}"></footer>

        </div>
    </body>
</html>
