<!DOCTYPE html>
<html xmlns:th="https;//thymeleaf.org">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width initial-scale=1"/>
        <link rel="stylesheet" type="text/css" th:href="@{ (${model.useMins} ? '~/static/style/glitch.min.css' : '~/static/style/glitch.css') }"/>
    </head>

    <body>
        <div class="page">
            <div th:replace="~{fragments/navigation :: navigation}"></div>

            <div class="content-wrap">
                <div class="transparent-content">
                    <div class="text">
                        <div class="centerbox-column">
                            <form method="POST">
                                <div class="big-textbox">
                                    <input type="password" name="txt_password"><br>
                                </div>
                                <input type="hidden" name="txt_return" th:attr="value=${model.returnUri}">
                                <input type="submit" value="Login">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </div>
    </body>
</html>
