<!DOCTYPE html>
<html xmlns:th="https;//thymeleaf.org">
    <head>
        <title>Paris by night</title>
        <meta th:replace="fragments/meta :: meta (title='Paris by night', description='Photos of the city after-hours', url='/night', image='/static/img/night_meta.jpg')">
        <link rel="stylesheet" type="text/css" th:href="@{ (${model.useMins} ? './static/style/glitch.min.css' : './static/style/glitch.css') }"/>
        <script type="module" th:src="@{ (${model.useMins} ? './static/js/dist/photo.min.js' : './static/js/photo.js') }"></script>
    </head>

    <body>
        <div class="page">
            <div th:replace="~{fragments/navigation :: navigation}"></div>

            <div class="content-wrap">
                <div class="main-title">
                    <h1>Paris by night</h1>
                    <h2>Photos of the city after-hours</h2>
                </div>

                <div class="photo-grid">
                    <div class="photo-item" th:each="image : ${model.images}">
                        <a class="photo-link" th:href="@{./static/night/original/{filename}(filename=${image.filename})}" target="_blank">
                            <img 
                                th:src="@{./static/night/thumbnail/prev_{filename}(filename=${image.filename})}"
                                th:attr="title=${image.title}"
                                th:attrappend="alt=${image.altText}"
                            >
                        </a>
                    </div>
                </div>
            </div>
            <div id="photo-overlay" class="overlay" style="opacity: 0;">
                <div class="photo-box">
                    <div class="photo-box-header">
                        <button id="photo-box-close" class="close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 12.7 12.7">
                                <title class="close-button"></title>
                                <path fill="#373737"
                                    d="m1.836 11.352 4.159-5.57v.928l-3.96-5.363h1.45l1.572 2.17q.407.568.805 1.137L6.667 5.8h-.615q.416-.578.814-1.146t.815-1.137l1.582-2.17h1.43L6.734 6.71v-.938l4.132 5.58h-1.44l-1.81-2.473q-.398-.559-.786-1.099-.389-.54-.777-1.099h.616q-.398.56-.787 1.1-.388.54-.796 1.098l-1.819 2.473z"
                                    aria-label="x" />
                            </svg>
                        </button>
                    </div>
                    <div class="photo-box-content"></div>
                </div>
            </div>

            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </div>
    </body>
</html>
