<!DOCTYPE html>
<html>
    <head>
        <title>glitch</title>

        <meta charset="utf-8">
        <meta property="og:title" content="glitch.paris"/>
        <meta property="og:url" content="https://glitch.paris"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/content.css') }}"/>

    </head>

    <body>
        <div class="page">
            <div class="content-wrap">

                <div class="front-page">
                    <h1>glitch.paris</h1>
                    <h2>
                        <a href="./night">night</a>
                    </h2>
                </div>

                {% include "footer.html" %}

            </div>
        </div>
    </body>
</html>
